# dependencies
/node_modules

# testing
/coverage
/unit-tests-results


# production
/build

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
*.swp

npm-debug.log*
yarn-debug.log*
yarn-error.log*
./idea/*
.history/*

